spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/sport-and-review
    username: postgres
    password: postgres

logging:
  level:
    org.springframework.web: DEBUG
    org.hibernate: ERROR
    org.apache.logging.log4j: DEBUG