logging:
  level:
    .org.springframework.web: DEBUG
    .org.hibernate: ERROR
    org:
      apache:
        logging:
          log4j: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: '*'

server:
  port: 8008
  servlet:
    contextPath: /sportandreview

spring:
  application:
    name: Sport And Review API
  datasource:
    url: ${JDBC_DATABASE_URL:jdbc:postgresql://localhost:5433/sport-and-review}
    username: ${JDBC_DATABASE_USERNAME:postgres}
    password: ${JDBC_DATABASE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddlAuto: update
    properties:
      hibernate:
        formatSql: true
        order_inserts: true
        jdbc:
            batch_size: 5
        lob:
            nonContextualCreation: true
        showSql: true
        useSqlComments: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true

# To use if multiple service will be created
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://localhost:8761/eureka/

docker:
  smtp:
    server: smtp.office365.com
    username: sport-and-review@outlook.it
    pw: sportAndReview

SportAndReview:

  password-url: https://www.esempio.com/pagina
